<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Id="CATL.WearPartsControl"
           Name="!(loc.ProductName)"
           Manufacturer="CATL"
           Version="$(PackageVersion)"
           UpgradeCode="{6B42E167-7D64-4EE6-9F99-44CE9410A14C}"
           Scope="perMachine">
    <SummaryInformation Description="!(loc.PackageDescription)" Manufacturer="CATL" />
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon.ico" SourceFile="$(PublishDir)WearPartsControl.exe" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="CREATE_DESKTOP_SHORTCUT" Value="1" />
    <Property Id="START_ON_LOGIN" Secure="yes" />
    <ui:WixUI Id="WearPartsControl_InstallDirOptions" InstallDirectory="INSTALLFOLDER" />

    <StandardDirectory Id="$(ProgramFilesFolderId)">
      <Directory Id="INSTALLFOLDER" Name="Wear Parts Control">
        <Component Id="AutoStartRegistryComponent" Guid="{ACFC6F48-B4B5-469D-8D89-E5E8C1F03B19}" Condition="START_ON_LOGIN = &quot;1&quot;">
          <RegistryValue Root="HKCU"
                         Key="Software\Microsoft\Windows\CurrentVersion\Run"
                         Name="WearPartsControl"
                         Type="string"
                         Value="&quot;[INSTALLFOLDER]WearPartsControl.exe&quot;"
                         KeyPath="yes" />
        </Component>
        <Directory Id="PrivateDataFolder" Name="PrivateData">
          <Directory Id="SettingsFolder" Name="Settings" />
          <Directory Id="LocalDatabaseFolder" Name="LocalDB" />
        </Directory>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="{D97589DB-6818-42C2-A5E6-3992C0164B38}" Condition="CREATE_DESKTOP_SHORTCUT = &quot;1&quot;">
        <Shortcut Id="DesktopShortcut"
                  Name="!(loc.ProductName)"
                  Description="!(loc.DesktopShortcutDescription)"
                  Target="[INSTALLFOLDER]WearPartsControl.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon.ico"
                  Advertise="no" />
        <RegistryValue Root="HKCU"
                       Key="Software\CATL\WearPartsControl"
                       Name="DesktopShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="!(loc.MainFeatureTitle)" Description="!(loc.MainFeatureDescription)" Level="1" AllowAbsent="no">
      <Files Include="$(PublishDir)**" Directory="INSTALLFOLDER">
        <Exclude Files="$(PublishDir)**\*.pdb" />
        <Exclude Files="$(PublishDir)**\*.xml" />
        <Exclude Files="$(PublishDir)PrivateData\**" />
      </Files>
      <ComponentRef Id="PrivateDataPermissionsComponent" />
      <ComponentRef Id="LocalDatabaseFolderComponent" />
      <ComponentRef Id="AppSettingsConfigComponent" />
      <ComponentRef Id="UserConfigComponent" />
      <ComponentRef Id="ClientAppInfoZhCnComponent" />
      <ComponentRef Id="ClientAppInfoEnUsComponent" />
      <ComponentRef Id="MhrInfoConfigComponent" />
      <ComponentRef Id="SiteFactoryConfigComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />
      <ComponentRef Id="AutoStartRegistryComponent" />
    </Feature>

    <DirectoryRef Id="PrivateDataFolder">
      <Component Id="PrivateDataPermissionsComponent" Guid="{A96DE6F8-2B8E-4F3A-B032-543A5C44B807}" Permanent="yes" KeyPath="yes">
        <CreateFolder>
          <util:PermissionEx User="Users"
                             GenericRead="yes"
                             GenericWrite="yes"
                             GenericExecute="yes"
                             Delete="yes"
                             DeleteChild="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LocalDatabaseFolder">
      <Component Id="LocalDatabaseFolderComponent" Guid="{51F38548-DC7B-4E45-81E4-B0355E8E3B64}" Permanent="yes" KeyPath="yes">
        <CreateFolder>
          <util:PermissionEx User="Users"
                             GenericRead="yes"
                             GenericWrite="yes"
                             GenericExecute="yes"
                             Delete="yes"
                             DeleteChild="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SettingsFolder">
      <Component Id="AppSettingsConfigComponent" Guid="{82F22D86-84C3-4547-8EAF-22F9010D1B12}" Permanent="yes" NeverOverwrite="yes">
        <File Id="AppSettingsConfigFile" Source="$(PublishDir)PrivateData\Settings\app-settings.json" KeyPath="yes" />
      </Component>
      <Component Id="UserConfigComponent" Guid="{14BC89F1-1422-4683-A371-92D5CE6F0C97}" Permanent="yes" NeverOverwrite="yes">
        <File Id="UserConfigFile" Source="$(PublishDir)PrivateData\Settings\user-config.json" KeyPath="yes" />
      </Component>
      <Component Id="ClientAppInfoZhCnComponent" Guid="{C5E4825D-BEC6-4CB0-B091-A34066B2847A}" Permanent="yes" NeverOverwrite="yes">
        <File Id="ClientAppInfoZhCnFile" Source="$(PublishDir)PrivateData\Settings\client-app-info.zh-CN.json" KeyPath="yes" />
      </Component>
      <Component Id="ClientAppInfoEnUsComponent" Guid="{2A13672B-4691-4C27-B68D-13A06CB9AF07}" Permanent="yes" NeverOverwrite="yes">
        <File Id="ClientAppInfoEnUsFile" Source="$(PublishDir)PrivateData\Settings\client-app-info.en-US.json" KeyPath="yes" />
      </Component>
      <Component Id="MhrInfoConfigComponent" Guid="{07F49B88-5196-4A39-88F1-DC1E56F258F4}" Permanent="yes" NeverOverwrite="yes">
        <File Id="MhrInfoConfigFile" Source="$(PublishDir)PrivateData\Settings\mhrinfo.json" KeyPath="yes" />
      </Component>
      <Component Id="SiteFactoryConfigComponent" Guid="{E42F4D07-BF0A-4B06-AC5B-102F96456303}" Permanent="yes" NeverOverwrite="yes">
        <File Id="SiteFactoryConfigFile" Source="$(PublishDir)PrivateData\Settings\site-factory.json" KeyPath="yes" />
      </Component>
    </DirectoryRef>

  </Package>

  <Fragment>
    <UI>
      <Dialog Id="InstallOptionsDlg" Width="370" Height="270" Title="!(loc.InstallOptionsDlgTitle)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="373" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="373" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="300" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallOptionsDlgTitle)" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="320" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.InstallOptionsDlgDescription)" />
        <Control Id="OptionsText" Type="Text" X="25" Y="70" Width="320" Height="30" Text="!(loc.InstallOptionsDlgBody)" />
        <Control Id="DesktopShortcutCheckBox" Type="CheckBox" X="35" Y="112" Width="300" Height="17" Property="CREATE_DESKTOP_SHORTCUT" CheckBoxValue="1" Text="!(loc.CreateDesktopShortcutCheckBox)" />
        <Control Id="AutoStartCheckBox" Type="CheckBox" X="35" Y="140" Width="300" Height="17" Property="START_ON_LOGIN" CheckBoxValue="1" Text="!(loc.StartOnLoginCheckBox)" />
        <Control Id="AutoStartHint" Type="Text" X="35" Y="162" Width="300" Height="30" Text="!(loc.StartOnLoginHint)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>
    </UI>
  </Fragment>

  <?foreach WIXUIARCH in X86;X64;A64 ?>
  <Fragment>
    <UI Id="WearPartsControl_InstallDirOptions_$(WIXUIARCH)">
      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath_$(WIXUIARCH)" Order="1" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="2" Condition="WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath_$(WIXUIARCH)" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="2" Condition="WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="InstallOptionsDlg" Order="4" Condition="WIXUI_INSTALLDIR_VALID=&quot;1&quot;" />
    </UI>
    <UIRef Id="WearPartsControl_InstallDirOptions" />
  </Fragment>
  <?endforeach?>

  <Fragment>
    <UI Id="file WearPartsControl_InstallDirOptions">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="InstallOptionsDlg" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg" Condition="NOT Installed" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Condition="Installed AND PATCH" />

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" />
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Condition="LicenseAccepted = &quot;1&quot;" />

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="3" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="SetTargetPath" Value="[_BrowseProperty]" Order="3" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="EndDialog" Value="Return" Order="4" />

      <Publish Dialog="InstallOptionsDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" />
      <Publish Dialog="InstallOptionsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" />

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallOptionsDlg" Order="1" Condition="NOT Installed" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2" Condition="Installed AND PATCH" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>
